<section>
  <h2>Accounts</h2>
  <table>
    <tr>
      <th>Account ID</th>
      <th>Account Balance</th>
      <th>Current Value</th>
      <th>Shares Owned</th>
      <th>Ownership</th>
      <th>Return on Investment</th>
    </tr>
    <tr>
      <td id="account-id">123456789</td>
      <td id="account-balance">$1,000.00</td>
      <td id="current-value">$1,000.00</td>
      <td id="shares">100</td>
      <td id="ownership">10%</td>
      <td id="roi">20%</td>
    </tr>
    </table>
</section>