<ul id="menu"> 
    <li><a href="/">Index</a></li>
    <li><a href="ledgers.html">Ledgers</a></li>
    <li><a href="accounts.html">Accounts</a></li>
    <li><a href="performance.html">Performance</a></li>
    <li><a href="transactions.html">Transactions</a></li>
    <li><a href="metrics.html">Metrics</a></li>
</ul>