<ul id="menu"> 
    <li><a href="/">Index</a></li>
    <li><a href="accounts.html">Accounts</a></li>
    <li><a href="performance.html">Performance</a></li>
    <li><a href="transactions.html">Transactions</a></li>
    <li><a href="summary.html">Summary</a></li>
</ul>