<section>
  <h2>Metrics</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Average Share Price</td>
      <td>$<%= metrics.averageSharePrice %></td>
    </tr>
    <tr>
      <td>Initial Share Price</td>
      <td>$<%= metrics.initialSharePrice %></td>
    </tr>
    <tr>
      <td>Total Shares</td>
      <td><%= metrics.totalShares %></td>
    </tr>
    <tr>
      <td>Total Bankroll</td>
      <td>$<%= metrics.totalBankroll %></td>
    </tr>
    <tr>
    </tr>
  </table>
</section>