<section>
  <h2>Metrics</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Current Share Price</td>
      <td>$<%= metrics.currentSharePrice %></td>
    </tr>
    <tr>
      <td>Initial Share Price</td>
      <td>$<%= metrics.initialSharePrice %></td>
    </tr>
    <tr>
      <td>Shares Owned</td>
      <td><%= metrics.sharesOwned %></td>
    </tr>
    <tr>
      <td>Total Bankroll</td>
      <td>$<%= metrics.totalBankroll %></td>
    </tr>
    <tr>
    </tr>
  </table>
</section>