<section>
  <h2>Performance</h2>
  <table>
    <tr>
      <th>Date</th>
      <td id="date">2024-06-01</td>
    </tr>
    <tr>
      <th>Record</th>
      <td id="record">Positive</td>
    </tr>
    <tr>
      <th>Return on Investment</th>
      <td>
        <span id="return-on-investment-percent">20%</span>
        /
        <span id="return-on-investment">$200.00</span>
      </td>
    </tr>
    <tr>
      <th>Shares</th>
      <td id="shares">100</td>
    </tr>
    <tr>
      <th>Share Price</th>
      <td id="share-price">$12.00</td>
    </tr>
    <tr>
      <th>Total Bankroll</th>
      <td id="total-bankroll">$1,200.00</td>
    </tr>
    <tr>
      <th>Units Won</th>
      <td id="units-won">10</td>
    </tr>
    <tr>
      <th>Unit Price</th>
      <td id="unit-price">$20.00</td>
    </tr>
</section>