<section>
  <h2>Summary</h2>
  <table>
    <tr>
      <th>Current Share Price</th>
      <th>Initial Share Price</th>
      <th>Total Bankroll</th>
    </tr>
    <tr>
      <td>$<%= summary.currentSharePrice %></td>
      <td>$<%= summary.initialSharePrice %></td>
      <td>$<%= summary.totalBankroll %></td>
    </tr>
  </table>
</section>