<section>
  <h2>Transactions</h2>
  <table>
    <tr>
      <th>ID</th>
      <td id="account-id">123456789</td>
    </tr>
    <tr>
      <th>Balance</th>
      <td id="account-balance">$1,000.00</td>
    </tr>
    <tr>
      <th>Current Value</th>
      <td id="current-value">$1,200.00</td>
    </tr>  
    <tr>
      <th>Shares Owned</th>
      <td id="shares-owned">100</td>
    </tr>
    <tr>
      <th>Ownership</th>
      <td id="ownership">10%</td>
    </tr>
    <tr>
      <th>Return on Investment</th>
      <td>
        <span id="return-on-investment-percent">20%</span>
        /
        <span id="return-on-investment">$200.00</span>
      </td>
    </tr>
</section>